<h2>Vault</h2>

@if (!unlocked) {
  <input
    type="password"
    placeholder="Master password"
    [(ngModel)]="masterPassword"
  />
  <button (click)="unlockVault()">Unlock Vault</button>
}

@if (unlocked) {
  <h3>Create a secret</h3>
  <input placeholder="Name" [(ngModel)]="newName" />
  <input placeholder="Value" [(ngModel)]="newValue" />
  <button (click)="createSecret()">Save</button>

  <hr />

  <h3>Your secrets</h3>

  @for (s of secrets; track s) {
    <div>
      <strong>{{ s.name }}</strong>

      <button (click)="decrypt(s)">Decrypt</button>
      <button (click)="delete(s.id)">Delete</button>
      @if (canShare) {
        <button (click)="openShare(s)">Share</button>
      }


      @if (decrypted[s.id] !== undefined) {
        <input
          [(ngModel)]="decrypted[s.id]"
          placeholder="Edit secret value"
        />
        <button (click)="updateSecret(s)">Update</button>
      }
    </div>

    @if (sharingSecretId === s.id) {
      <div class="share-box">
        <p>Share with:</p>

        @for (dev of developers; track dev.id) {
          <button (click)="shareWith(s, dev)">
            {{ dev.username }}
          </button>
        }
      </div>
    }
  }
}
