@if (username) {
  <h2>Welcome, {{ username }}</h2>
} @else {
  <h2>Admin Dashboard</h2>
}

@if (needsVaultSetup) {
  <div class="vault-setup">
    <h3>Initialize Vault</h3>

    <input
      type="password"
      placeholder="Master password"
      [(ngModel)]="masterPassword"
    />

    <button (click)="createVault()">
      Create Vault
    </button>
  </div>
} @else {
  <app-vault></app-vault>

  <hr/>

  <h2>Secrets shared with me</h2>

    <ul>
        @for (s of sharedSecrets; track s)
        {
            <li>
                {{ s.name }} (owner: {{ s.ownerUsername }})
                <button (click)="decrypt(s)">Decrypt</button>

                @if (s.decrypted !== null)
                {
                    <div>{{ s.decrypted }}</div>
                }
            </li>
        }
    </ul>
}

<app-logout></app-logout>
